.admin-wrapper a {
    text-decoration: none;
    color: #000;
}

.admin-header-wrapper {
    background-color: #DEE0E2;
    height: 40px;
    text-align: right;
    font-size: 16px;
    width: 100%;
}

.admin-header-content {
    margin: auto;
    width: 100%;
    max-width: 1020px;
}

.admin-header-content li {
    display: inline-block;
    margin-top: 6px;
    padding: 4px 10px;
    border-right: 1px solid #999;
}

.admin-header-content li:last-child {
    border-right: none;
}

.admin-sidebar-content {
    padding: 10px 0;
}

.admin-sidebar-content li {
    margin: 10px 0;
}

.admin-sidebar-content li a {
    display: block;
    padding: 10px 0 10px 30px;
}

.admin-sidebar-content li.active a {
    background-color: #30A197;
    color: #fff;
}

.admin-sidebar-content {
    padding: 20px 0;
}

