<div id="dashboard-admin-nav" class="dashboard-admin-nav">
  <ul>
    {% if available_apps %}
      {% for app in available_apps %}
        {% for model in app.models %}
          {% if model.admin_url %}
            <li><a href="{{ model.admin_url }}" class="{% if request.path == model.admin_url %} active{% endif %}">{{ model.name }}</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}
    {% if request.user.is_finance %}
      {% url 'admin:person_upload_payroll' as upload_url %}
      <li><a href="{{ upload_url }}" class="{% if request.path == upload_url %} active{% endif %}">Salary upload</a></li>
      {% url 'admin:product_export' as export_url %}
      <li><a href="{{ export_url }}" class="{% if request.path == export_url %} active{% endif %}">Export</a></li>
    {% endif %}
  </ul>
</div>
