{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block object-tools-items %}
<li>
  {% if 'prototype.upload_project' in perms %}
    <a href="{% url 'admin:project_upload_payroll' original.pk %}" class="historylink">{% trans "Upload payroll" %}</a>
  {% endif %}
  {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
  <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
</li>
{% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
{% endblock %}
