{% extends "admin/base.html" %}

{% load staticfiles %}
{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static "admin/dashboard/styles/gov-uk-elements.css" %}"/>
{% endblock %}

{% block content %}
<div class="pad export">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-medium util_mt-0">Export</h1>

      <form method="post">
        {% csrf_token %}

        <p class = errors">{{ form.non_field_errors }}</p>

        <div class="form-group">
          <p class = errors">{{ form.date.errors }}</p>
          <label class="form-label" for="payroll_date">
            Enter month:
            <span class="form-hint">For example 01 2016</span>
          </label>
          {{ form.date }}
        </div>

        <div class="form-group">
          <p class = errors">{{ form.project.errors }}</p>
          <label class="form-label" for="id_project">Project:</label>
          <select class="form-control" id="id_project" name="project">
            <option>--------</option>
            {% for client in clients %}
              <optgroup label="{{ client.name }}">
                {% for project in client.projects.all %}
                  <option value="{{ project.pk }}">{{ project.name }}</option>
                {% endfor %}
              </optgroup>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <p class = errors">{{ form.export_type.errors }}</p>
          <fieldset>
            <legend>Export type:</legend>
            <div class="options">
              <label class="block-label" for="id_export_type_0">
                <input id="id_export_type_0" name="export_type" type="radio" value="Adjustment_Journal">
                Adjustment Export
              </label>
              <label class="block-label" for="id_export_type_1">
                <input id="id_export_type_1" name="export_type" type="radio" value="Intercompany_Journal">
                Intercompany Export
              </label>
              <label class="block-label" for="id_export_type_2">
                <input id="id_export_type_2" name="export_type" type="radio" value="Project_Detail">
                Project Detail Export
              </label>
            </div>
          </fieldset>
        </div>

        <input class="button" type="submit" value="Export" />
      </form>

    </div>
  </div>

</div>
{% endblock %}
