# -*- coding: utf-8 -*-


DEBUG = True

BROKER_URL = "amqp://"
BROKER_TRANSPORT_OPTIONS = {}

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.filebased.FileBasedCache',
        'LOCATION': '/tmp/django_cache',
        'OPTIONS': {
            'MAX_ENTRIES': 10000
        }
    }
}


WEBPACK_LOADER = {
    'DEFAULT': {
        'CACHE': not DEBUG
    }
}

SESSION_COOKIE_SECURE = not DEBUG
CSRF_COOKIE_SECURE = not DEBUG
SECURE_SSL_REDIRECT = not DEBUG

"""
./manage.py reset_db
./manage.py migrate --run-syncdb
./manage.py sync
./manage.py generate
./manage.py loaddata auth_group_permissions
./manage.py loaddata test_users
"""
