# -*- coding: utf-8 -*-


BROKER_URL = "amqp://"
BROKER_TRANSPORT_OPTIONS = {}


"""
./manage.py reset_db
./manage.py migrate --run-syncdb
./manage.py sync
./manage.py generate
./manage.py loaddata auth_group_permissions
./manage.py loaddata test_users
"""
