strong {
    font-weight: bold;
}

@media (min-width: 641px) {
  select#projects, select#services {
    width: 450px;
  }
}

button.update-from-float {
    float: right;
}

.spinkit, .projects-spinkit, .graph-spinkit {
  position: relative;
  left: 45%;
  z-index: 9999;
}

.projects-spinkit {
  top: 200px;
}

.graph-spinkit {
  top: 40px;
}

.column-three-quarters {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 641px) {
  .column-three-quarters {
    float: left;
    width: 75%;
  }
}

.top-most {
  z-index: 9999;
}
