

#global-header-bar {

    max-width: 1280px;
    width: 100%;


}

#global-header-bar.inner-block {
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 641px) {
    #global-header-bar .inner-block {

        padding-left: 0;
        padding-right: 0;
    }
}

/* Remove display of the .Gov.uk logo */
.header-logo {
    visibility: hidden;
}

div.header-global {
    display: none;
}

/* Remove double underline from page title */

div.header-wrapper {
    text-align: center;
}

#proposition-name:hover {
    text-decoration: none !important;
}

div.header-wrapper div.header-proposition {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

@media (min-width: 769px) {
    #global-header.with-proposition .header-wrapper .header-proposition {
    float: none;
    width: 600px;
    }
}


