{% extends 'moj_template_custom/moj_base.html' %}

{% load staticfiles %}

{% block top_of_page %}
    {% load i18n admin_static %}
{% endblock %}

{% block page_title %}

    MoJ Product Dashboard

{% endblock %}

{% block stylesheets %}

    {% block extrastyle %}

    {% endblock %}
{% endblock %}

{% block head %}
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE"/>
    {% endblock %}

    {% block extrahead %}

        <link rel="stylesheet" type="text/css" href="{% static "prototype_admin/styles/custom.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "common/common.css" %}"/>
        {# Here to ensure loaded last #}
    {% endblock %}
{% endblock %}

{% load i18n %}

{% block body_classes %}admin{% endblock %}

{% block headerbar %}
{#    {% if has_permission %}#}
{#        <span id="user-name">{% firstof user.get_short_name user.get_username %}<span>#}
{#        <span id="user-links">#}
{#            <a id="update-from-float" class="update-from-float">Float sync</a> |#}
{#        {% if site_url %}#}
{#            <a href="{{ site_url }}">View site</a> |#}
{#        {% endif %}#}
{#            <a href="{% url 'admin:logout' %}">Log out</a>#}
{#        </span>#}
{#    {% endif %}#}
{% endblock %}

{% block after_header %}

    {% block nav-global %}{% endblock %}

{% endblock %}

{% block before_content %}

{% endblock %}

{% block main %}
    <div class="admin-wrapper">

    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            {% if title %} &rsaquo; {{ title }}{% endif %}
        </div>
    {% endblock %}
        {% block messages %}
            {% if messages %}
                <ul class="messagelist">{% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                {% endfor %}</ul>
            {% endif %}
        {% endblock messages %}


        <div class="main-section">
            <!-- Content -->
            <div class="{% block coltype %}colM{% endblock %}">
                {% block pretitle %}{% endblock %}
                {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                {% block content %}
                    {% block object-tools %}{% endblock %}
                    {{ content }}
                {% endblock %}
                {% block sidebar %}{% endblock %}
                <br class="clear"/>
            </div>

        </div>

    </div>
{% endblock %}

{% block javascripts %}{% endblock %}

{% block body_end %}{% endblock %}
