{% extends "common.html" %}

{% load staticfiles %}

{% block javascripts %}
  {{ block.super }}
  <script src="{% static 'admin/dashboard/js/login.js' %}"></script>
{% endblock %}

{% block main %}
  <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <h1 class="heading-xlarge">Sign in</h1>
    <p>Sign in using your account details to access the system.</p>

    <div class="form-group">
      <label class="form-label" for="{{ form.username.id_for_label  }}">Username</label>
      <input class="form-control js-remove-readonly-onfocus" readonly="true" id="{{ form.username.id_for_label }}" name="username" type="text">
    </div>
    <div class="form-group">
      <label class="form-label" for="{{ form.password.id_for_label  }}">Password</label>
      <input class="form-control js-remove-readonly-onfocus" readonly="true" id="{{ form.password.id_for_label }}" name="password" type="password">
    </div>
    <input class="button" type="submit" value="Sign in"/>
    <input type="hidden" name="next" value="{{ next }}"/>
  </form>
  <a href="/password_reset/">Forgotten password</a>
{% endblock %}
