{% extends "common.html" %}

{% load staticfiles %}

{% block content %}

<div class="login-column">

  <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <table>
      <caption>Enter Login Details</caption>

      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <div class="submit-container">
        <input class="form-button" type="submit" value="login"/>
    </div>
    <input type="hidden" name="next" value="{{ next }}"/>
  </form>

</div>

{% endblock %}
