{% extends 'moj_template_custom/moj_base.html' %}

{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block page_title %}

    MoJ Product Dashboard

{% endblock %}

{% block stylesheets %}

  {% render_bundle 'main' 'css' %}
  <link href="{% static 'common/common.css' %}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block javascripts %}
  {% render_bundle 'main' 'js' %}
{% endblock %}

{% block before_content %}
{% endblock %}

{% block body_classes %}
  {{ body_classes }}
{% endblock %}

{% block content %}
  <!--TODO use main tag in moj template-->
  <main id="content" role="main">
    {% block main %}
      <div id="container" />
    {% endblock %}
  </main>
{% endblock %}
