{% extends 'moj_template_custom/moj_base.html' %}

{% load staticfiles %}

{% block page_title %}

    MoJ Product Dashboard

{% endblock %}

{% block stylesheets %}

    <link href="{% static 'dist/prototype.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'common/common.css' %}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'dist/prototype.js' %}"></script>
{% endblock %}

{% block before_content %}
<br>
<br>

{% endblock %}

{% block content %}
  <button id="update-from-float" class="update-from-float button">Float sync</button>
  <!--TODO use main tag in moj template-->
  <main id="content" role="main">
    {% block main %}
    {% endblock %}
  </main>
{% endblock %}
