  {% extends 'common.html' %}

{% load staticfiles %}

{#<html class="no-js">#}

{% block head %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
{#    <meta name="description" content="">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{##}
{#    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->#}
{##}
{#    <!-- Latest compiled and minified CSS -->#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


{%  endblock %}


{% block content %}
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Claim for Crown Court Defence</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <table class="table table-hover">
              <tr>
                <th class="active">Today</th>
                <td class="h4">{{ today }}</td>
              </tr>
              <tr>
                <th class="active">Current phase</th>
                <td class="danger">Beta</td>
              </tr>
              <tr>
                <th class="active">Service Area</th>
                <td>LAA</td>
              </tr>
              <tr>
                <th class="active">Service Manager</th>
                <td>Liz Citron</td>
              </tr>
              <tr>
                <th class="active">Product Manager</th>
                <td>Stuart Hollands</td>
              </tr>
              <tr>
                <th class="active">Delivery Manager</th>
                <td>Rob Stirling</td>
              </tr>
            </table>
          </div>
          <div class="col-md-8">

          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Expenditure</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6" id="top_left">

          </div>
          <div class="col-md-6" id="top_right">

          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Contract Expirations &amp; Other Risks</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6" id="bottom_left">
          </div>
          <div class="col-md-6" id="bottom_right">

          </div>
        </div>
      </div>
    </div>

{%  endblock %}

