{% extends 'common.html' %}

{% load staticfiles %}

{% block main %}
    <div class="column-one-quarter">
      <label class="heading-medium" for="service-name"><strong>Service Area</strong></label>
    </div>
    <div class="column-three-quarters">
      <select id="services">
        {% for id, name in services.items %}
          {% if id == service.id %}
          <option value="{{ id }}" selected>{{ name }}</option>
          {% else %}
          <option value="{{ id }}">{{ name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="panel" id="projects"/>
{% endblock %}
